.navBar{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.picLogo{
    display: flex;
    align-items: baseline;
    font-family: cursive;
}

.clickables{
    display: flex;
    justify-content: space-evenly;
}